body{
    color: black;
    background: linear-gradient(135deg, #00001a, #0d0d0d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'New';
    margin: 0;
}
.back{
    padding: 15px;
    margin-top: 3vw;
    background-color: white;
    border-radius: 2vw;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
}
.layout{
    padding: 3vw 0;
    width: fit-content;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    align-items: center;
}
.card{
    width: 19vw;
    height: 19vw;
    border-radius: 2vw;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}
img{
    height: 100%;
}
img:hover{
    height: 105%;
    width: auto;
}
@font-face {
    font-family: 'New';
    src: url(/updated-website/Inconsolata-VariableFont_wdth\,wght.ttf);
}