body{
    color: black;
    background: linear-gradient(135deg, #00001a, #0d0d0d);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
.layout{
    width: fit-content;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
.card{
    width: 20vw;
    height: 20vw;
    border-radius: 3vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}
.card:hover{
    width: 21vw;
    height: 21vw;
}
img{
    height: 100%;
}